Repository cancervariants/therapy-normalization, pull requests merged in 2023-10, with the labels that each got.

#368 style: resolve mypy errors
  therapy/etl/drugsatfda.py
  therapy/schemas.py
Labels: priority:low, cleanup

#369 style: resolve mypy errors
  therapy/etl/drugsatfda.py
  therapy/schemas.py
Labels: priority:low, cleanup

#367 cicd: update release.yml (publish python distribution to pypi)
  .github/workflows/release.yml
Labels: priority:low, ci/cd

#364 feat!: use vrs 2.0-alpha models in /normalize
  Pipfile
  setup.cfg
  tests/data/fixtures/query_fixtures.json
  tests/unit/test_disease_indication.py
  tests/unit/test_query.py
  therapy/cli.py
  therapy/etl/base.py
  therapy/etl/chemidplus.py
  therapy/main.py
  therapy/query.py
  therapy/schemas.py
  therapy/version.py
Labels: priority:low, enhancement

#373 cicd: add python3.11 to python-version matrix
  .github/workflows/checks.yaml
Labels: priority:low, ci/cd

#377 build: use pyproject.toml for build configuration
  .github/workflows/checks.yaml
  .gitignore
  pyproject.toml
  setup.cfg
  setup.py
  src/therapy/__init__.py
  src/therapy/cli.py
  src/therapy/database.py
  src/therapy/etl/__init__.py
  src/therapy/etl/base.py
  src/therapy/etl/chembl.py
  src/therapy/etl/chemidplus.py
  src/therapy/etl/drugbank.py
  src/therapy/etl/drugsatfda.py
  src/therapy/etl/guidetopharmacology.py
  src/therapy/etl/hemonc.py
  src/therapy/etl/merge.py
  src/therapy/etl/ncit.py
  src/therapy/etl/rules.csv
  src/therapy/etl/rules.py
  src/therapy/etl/rxnorm.py
  src/therapy/etl/wikidata.py
  src/therapy/main.py
  src/therapy/query.py
  src/therapy/schemas.py
  src/therapy/version.py
Labels: priority:low
